.donate:hover
{
	 background: linear-gradient(to right, #34e89e, #0f3443);
	 color :black;
}
.donate
{
background: linear-gradient(to right, #bc4e9c, #f80759);
							font-weight: 800;
							border-radius : 20px;
							padding : 15px 15px;
							font-size:  20px;
							color : white;
}
.bckim
{
	  height : 100%;
	  background-size: cover;
}